html, body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#selectContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 11px 0;
  display: flex;
  justify-content: center;
}

#countrySelect {
  width: 200px;
  margin: auto;
  padding: 5px;
  border-radius: 5px; /* slightly rounded corners */
  
}
  
  
  .navbar-brand {
    font-family: 'Tahoma', 'Verdana', sans-serif; /* Using system fonts for broad compatibility */
    font-weight: 600;
    font-size: 20px; 
    color: #e0e0e0; /* Slightly off-white for a more subtle appearance */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Providing a little shadow for depth */
    padding: 8px 12px; /* A bit of padding for better appearance */
    border-radius: 4px; /* Slight rounded corners */
    background: rgba(255, 255, 255, 0.1); /* A subtle hint of background to make it pop */
    transition: all 0.3s ease; /* Smooth transitions for hover effects */
}



     /* Styling easy leaflet buttons */








.loading {
  display: none; /* Initially hidden */
}


.news {
    font-weight: bold; /* Make the text thick */
    font-style: italic;
    background-color: white;
    padding: 10px 20px; /* Add some padding around the text for a better appearance */
    border-radius: 5px; /* Rounded corners for a fancy look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    display: inline-block; /* To ensure padding and other box properties are applied */
    font-size: 20px; /* Increase font size a bit for prominence */
}

.news:before {
    content: "Gazetter"; /* Using the :before pseudo-element for "Gazetter" */
    color: blue; /* Set "Gazetter" to blue */
}

.news:after {
    content: " News"; /* Using the :after pseudo-element for "News" */
    color: red; /* Set "News" to red */
}




.custom-buttons {
    position: absolute;
    top: 35%;
    left: 1%;
    z-index: 1000;
}



.custom-buttons .btn {
    display: block;
    margin-bottom: 13px;
    color: white; /* Set the text color to white */ 
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    width: 130px;
    display: flex;
    justify-content: space-between;
    
}

.custom-buttons .btn i { 
    font-size: 1.5em; /* Make icons bigger */
}

.custom-buttons .btn-info {
    background-color: rgba(70, 130, 180, 0.7); /* Blue with transparency */
}

.custom-buttons .btn-warning {
    background-color: rgba(255, 165, 0, 0.7); /* Orange with transparency */
}

.custom-buttons .btn-primary {
    background-color: rgba(0, 123, 255, 0.7); /* Light blue with transparency */
}

.custom-buttons .btn-dark {
    background-color: rgba(52, 58, 64, 0.7); /* Dark gray with transparency */
}

.custom-buttons .btn-success {
    background-color: rgba(40, 167, 69, 0.7); /* Green with transparency */
}

/* Hover effects to make buttons slightly darker on hover */
.custom-buttons .btn:hover {
    background-color: rgba(132, 128, 128, 0.8);
}


#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* To make sure it's above other elements */
}


/* .modal-dialog {
  margin: 0 auto;
  display: flex;
  justify-content: center;
} */
.modal-content {
  max-height: 90vh; /* Adjust as necessary; 90vh will make the modal take up to 90% of the viewport height */
  overflow: hidden; /* Hide any content that would overflow this container */
}

/* Make the modal body scrollable */
.modal-body {
  overflow-y: auto; /* Add a vertical scrollbar when necessary */
}

div#modalContent {
  max-height: 400px !important;
}

.leaflet-bar a:last-child {
  margin-bottom: 4rem !important;
  border: none;
}

.leaflet-bar a:last-child {
  border: none !important;
}

/* Media queries for small devices */
@media (max-width: 676px) {

  .container-fluid {
    display: flex !important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;

  }

  .ml-auto {
    align-self: center !important;
  }
  .ml-auto, .mx-auto {
    margin-left: 0!important;
    margin-top: 5% !important;
}
  .modal {
    bottom: 50px !important;
    top: auto !important;
    left: auto !important;
  }

a.navbar-brand {
font-size: 1.2rem;
margin: 0;
}

.custom-select-size {
  font-size: 1rem !important;
}

  .custom-buttons {
    position: absolute;
    top: 30%;
    left: 1%;
    z-index: 1000;
}

  .custom-buttons .btn {
      width: 50px; 
      justify-content: center;
  }

  /* Hide text on small devices */
  .custom-buttons .btn span {
      display: none;
  }
}


/*  */
/* For screens smaller than 576px */
@media (max-width: 575.98px) {
  .modal-dialog {
      max-width: 70%;  /* Adjust as needed */
      margin: 1rem auto; /* Center the modal */
  }

}








.custom-select-size {
  padding: 0.5rem 0.75rem;
}

/* Adjust for small devices */
@media (max-width: 992px) { /* 992px is the breakpoint for Bootstrap's lg */
  .custom-select-size {
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      border-width: 1px;
      border-radius: 3px;
  }

  .col-lg-3 { /* Ensure the column doesn't take up full width on small devices */
      max-width: 50%; /* Or whatever percentage you deem suitable */
      flex: 0 0 50%; 
  }
}







@keyframes ldio-8j0datueml {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-8j0datueml div {
  left: 129.72px;
  top: 63.48px;
  position: absolute;
  animation: ldio-8j0datueml linear 1s infinite;
  background: #71c8fe;
  width: 16.56px;
  height: 33.12px;
  border-radius: 6.292800000000001px / 6.292800000000001px;
  transform-origin: 8.28px 74.52px;
}.ldio-8j0datueml div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #71c8fe;
}.ldio-8j0datueml div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #71c8fe;
}
.loadingio-spinner-spinner-6uz5xa2627n {
  width: 276px;
  height: 276px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-8j0datueml {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-8j0datueml div { box-sizing: content-box; }
/* generated by https://loading.io/ */