html, body {
    margin: 0;
    padding: 0;
  }
  
  #map {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  #selectContainer {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 11px 0;
  }
  
  #countrySelect {
    width: 200px;
    margin: 0 auto;
  }


/* 

  ---------------------------------------------------------- */
/* Existing Styles */
/* #my-button .leaflet-bar-part:before {
  width: auto !important;  
  padding: 10px 10px !important; 
  text-align: center!important;
  white-space: nowrap!important;  
  background-color: #4CAF50!important;  
  color: white!important;  
  transition: all 0.3s ease!important; 
}

#my-button .leaflet-bar-part:hover:before {
  background-color: white !important; 
  color: #4CAF50 !important;  
} */
